resume-tweaked.yml linguist-detectable=true
shell.nix linguist-detectable=false

node-env.nix linguist-generated
node-packages.nix linguist-generated
node.nix linguist-generated
resume.yml.patch linguist-generated

index.js linguist-vendored
resume.hbs linguist-vendored
style.css linguist-vendored

*.pdf filter=lfs diff=lfs merge=lfs -text
